@font-face {
  font-family: ChauPhilomeneOne-Italic;
  src: url("./assets/fonts/ChauPhilomeneOne-Italic.ttf");
  font-weight: 700;
}
@font-face {
  font-family: ChauPhilomeneOne-Regular;
  src: url("./assets/fonts/ChauPhilomeneOne-Regular.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  background-color: #121212 !important;
  font-family: ChauPhilomeneOne- !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0;
  line-height: normal;
}
